{lib_dirs,            ["deps"]}.
{deps_dir,            "deps"}.
{erl_opts,            [ debug_info, warnings_as_errors ]}.
{eunit_opts,          [{report, {eunit_report_surefire, [{dir,"."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,                [ {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}} ]}.
